
body:has(input[value="theme--default"]:checked), // Just for the theme switcher example page
.theme--default {
  // --template-light-color:               #{$owl-ref-palette-gray-800};
  // --template-light-icon-color:          #{$owl-ref-palette-primary-500};
  // --template-light-bg:                  #{$owl-ref-palette-white};
  // --template-light-border-color:        #{$owl-ref-palette-gray-300};
  // --template-light-accent-color:              #{$owl-ref-palette-primary-500};

  // --template-dark-color:        #{$owl-ref-palette-white};
  // --template-dark-icon-color:   currentColor;
  // --template-dark-bg:           #{$owl-ref-palette-gray-900};
  // --template-dark-border-color: #{$owl-ref-palette-gray-600};
  // --template-dark-accent-color:       #{$owl-ref-palette-cyan-500};

  // --template-max-width:    1200px;

  // --template-font-family-base:            #{$owl-ref-typeface-font-family-sans-serif};
  // --template-font-family-heading:         #{$owl-ref-typeface-font-family-sans-serif};
  // --template-font-lineheight-base:        #{$owl-ref-typeface-lineheight-base};
  // --template-font-lineheight-heading:     #{$owl-ref-typeface-lineheight-sm};
  // --template-font-letterspacing-heading:  -0.025em;

  // Custom theme variables
  --default-border-color: var(--template-light-border-color);

  section[class*="--alt"]{
    --default-border-color: var(--template-alt-border-color);
  }

  section[class*="--dark"]{
    --default-border-color: var(--template-dark-border-color);
  }


  h1:not(.tmpl-exclude) {
    border-bottom: 0.0625em solid var(--default-border-color);
    padding-bottom: 0.5em;
  }
}
