
body:has(input[value="theme--fiesta"]:checked),// Just for the theme switcher example page
.theme--fiesta {
  --template-light-color:               #{$owl-ref-palette-purple-800};
  --template-light-icon-color:          #{$owl-ref-palette-pink-600};
  --template-light-bg:                  #{$owl-ref-palette-pink-100};
  --template-light-border-color:        #{$owl-ref-palette-pink-500};
  --template-light-accent-color:        #{$owl-ref-palette-pink-700};

  --template-alt-color:        #{$owl-ref-palette-purple-800};
  --template-alt-icon-color:   #{$owl-ref-palette-black};
  --template-alt-bg:           #{$owl-ref-palette-pink-400};
  --template-alt-border-color: #{$owl-ref-palette-pink-600};
  --template-alt-accent-color: #{$owl-ref-palette-black};

  --template-dark-color:        #{$owl-ref-palette-pink-200};
  --template-dark-icon-color:   #{$owl-ref-palette-pink-500};
  --template-dark-bg:           #{$owl-ref-palette-purple-800};
  --template-dark-border-color: #{$owl-ref-palette-pink-200};
  --template-dark-accent-color: #{$owl-ref-palette-pink-500};

  --template-max-width:    1440px;

  --template-font-family-base:            Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  --template-font-family-heading:         "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", cursive;
  --template-font-lineheight-base:        #{$owl-ref-typeface-lineheight-base};
  --template-font-lineheight-heading:     1.45;
  --template-font-letterspacing-heading:  0.025em;

  --template-accent-color: var(--template-light-accent-color);
  --template-border-color: var(--template-light-border-color);
  --template-mark-color: var(--template-light-mark-color);
  --template-mark-bg: var(--template-light-mark-bg);

}