
body:has(input[value="theme--news"]:checked),// Just for the theme switcher example page
.theme--news{
  --template-light-color:             #{$owl-ref-palette-black};
  --template-light-icon-color:        #{$owl-ref-palette-black};
  --template-light-bg:               #fefaf0;
  --template-light-border-color:      #{$owl-ref-palette-black};
  --template-light-accent-color:      #{$owl-ref-palette-black};

  --template-alt-color:        #{$owl-ref-palette-yellow-900};
  --template-alt-icon-color:   #{$owl-ref-palette-yellow-900};
  --template-alt-bg:           #{$owl-ref-palette-yellow-500};
  --template-alt-border-color: #{$owl-ref-palette-yellow-700};
  --template-alt-accent-color: #{$owl-ref-palette-black};

  --template-dark-color:        #{$owl-ref-palette-white};
  --template-dark-icon-color:   #{$owl-ref-palette-white};
  --template-dark-bg:           #{$owl-ref-palette-black};
  --template-dark-border-color: #{$owl-ref-palette-white};
  --template-dark-accent-color:#fefaf0;

  --template-max-width:    1024px;

  --template-font-family-base:            Georgia, serif;
  --template-font-family-heading:         Georgia, serif;
  --template-font-lineheight-base:        #{$owl-ref-typeface-lineheight-base};
  --template-font-lineheight-heading:     #{$owl-ref-typeface-lineheight-sm};
  --template-font-letterspacing-heading:  -0.025em;

  // Custom theme variables
  --news-border-color: var(--template-light-border-color);

  section[class*="--alt"]{
    --news-border-color: var(--template-alt-border-color);
  }

  section[class*="--dark"]{
    --news-border-color: var(--template-dark-border-color);
  }

  h1:not(.tmpl-exclude) {
    border: 0.125em solid var(--news-border-color);
    border-top: none;
    border-right: none;
    padding: 0.5em;
  }
}