
body:has(input[value="theme--reader"]:checked), // Just for the theme switcher example page
.theme--reader {
  --template-font-size-sm: 0.729rem;
  --template-font-size-base: 0.875rem;
  --template-font-size-md: 1.05rem;
  --template-font-size-lg: 1.26rem;
  --template-font-size-xl: 1.512rem;
  --template-font-size-2xl: 1.814rem;
  --template-font-size-3xl: 2.177rem;

  --template-light-color:               #{$owl-ref-palette-black};
  --template-light-icon-color:          currentColor;
  --template-light-bg:                  #{$owl-ref-palette-white};
  --template-light-border-color:        #{$owl-ref-palette-black};
  --template-light-accent-color:        #{$owl-ref-palette-black};
  --template-light-mark-color:          #{$owl-ref-palette-black};
  --template-light-mark-bg:             #{$owl-ref-palette-white};

  --template-alt-color:               #{$owl-ref-palette-black};
  --template-alt-icon-color:          currentColor;
  --template-alt-bg:                  #{$owl-ref-palette-white};
  --template-alt-border-color:        #{$owl-ref-palette-black};
  --template-alt-accent-color:        #{$owl-ref-palette-black};
  --template-alt-mark-color:          #{$owl-ref-palette-black};
  --template-alt-mark-bg:             #{$owl-ref-palette-white};

  --template-dark-color:        #{$owl-ref-palette-black};
  --template-dark-icon-color:   currentColor;
  --template-dark-bg:           #{$owl-ref-palette-white};
  --template-dark-border-color: #{$owl-ref-palette-black};
  --template-dark-accent-color: #{$owl-ref-palette-black};
  --template-dark-mark-color:   #{$owl-ref-palette-black};
  --template-dark-mark-bg:      #{$owl-ref-palette-white};

  --template-max-width:    1200px;

  --template-font-family-base:            Arial, sans-serif;
  --template-font-family-heading:         Arial, sans-serif;
  --template-font-lineheight-base:        #{$owl-ref-typeface-lineheight-base};
  --template-font-lineheight-heading:     #{$owl-ref-typeface-lineheight-sm};
  --template-font-letterspacing-heading:  0;

  --template-accent-color: var(--template-light-accent-color);
  --template-border-color: var(--template-light-border-color);
  --template-mark-color: var(--template-light-mark-color);
  --template-mark-bg: var(--template-light-mark-bg);

  section[class*="--light"],
  section[class*="--alt"],
  section[class*="--dark"] {
    --template-mark-color: #{$owl-ref-palette-black};
    --template-mark-bg: #{$owl-ref-palette-gray-300};
  }

  img {
    max-width: 30ch;
  }

  @media print {
    .section {
      margin: 0;
      padding: 0;
    }
  }

  .section--min-height {
    min-height: 0;
  }

  .section--bg {
    .template__background {
      display: none;
    }
  }

  .section--inset {
    margin: 0;
  }

  .template__body{
    display: block;
    max-width: var(--template-max-width);
  }

  .text-media {
    .template__body__media {
      text-align: left;

      i {
        font-size: 5em;
      }
    }
  }

  .content-aside {
    .template__body__aside {
      color: inherit;
      background: inherit;
      border: 2px solid currentColor;
    }
  }

  dt {
    color: inherit;
    background: inherit;
    border-bottom: 2px solid currentColor;
  }

  .styled-list .template__body__content ol li:before {
    color: inherit;
    background: inherit;
    border: 2px solid currentColor;
  }
}