
body:has(input[value="theme--news"]:checked),// Just for the theme switcher example page
.theme--news{
  --theme-light-color:             #{$owl-ref-palette-black};
  --theme-light-icon-color:        #{$owl-ref-palette-black};
  --theme-light-bg:               #fefaf0;
  --theme-light-border-color:      #{$owl-ref-palette-black};
  --theme-light-accent-color:      #{$owl-ref-palette-black};
  --theme-light-highlight-color:   var(--theme-light-color);
  --theme-light-highlight-bg:      #{$owl-ref-palette-yellow-200};

  --theme-alt-color:        #{$owl-ref-palette-yellow-900};
  --theme-alt-icon-color:   #{$owl-ref-palette-yellow-900};
  --theme-alt-bg:           #{$owl-ref-palette-yellow-500};
  --theme-alt-border-color: #{$owl-ref-palette-yellow-700};
  --theme-alt-accent-color: #{$owl-ref-palette-yellow-100};
  --theme-alt-highlight-color:   #{$owl-ref-palette-white};
  --theme-alt-highlight-bg:      #{$owl-ref-palette-black};

  --theme-dark-color:        #{$owl-ref-palette-white};
  --theme-dark-icon-color:   #{$owl-ref-palette-white};
  --theme-dark-bg:           #{$owl-ref-palette-black};
  --theme-dark-border-color: #{$owl-ref-palette-white};
  --theme-dark-accent-color:#fefaf0;
  --theme-dark-highlight-color:   #{$owl-ref-palette-black};
  --theme-dark-highlight-bg:      #{$owl-ref-palette-yellow-500};
  --theme-img-border-radius: 0;

  --theme-max-width:    1024px;

  --theme-font-family-base:            Georgia, serif;
  --theme-font-family-heading:         Georgia, serif;
  --theme-font-lineheight-base:        #{$owl-ref-typeface-lineheight-base};
  --theme-font-lineheight-heading:     #{$owl-ref-typeface-lineheight-sm};
  --theme-font-letterspacing-heading:  -0.025em;

  // Custom theme variables
  --theme-accent-color: var(--theme-light-accent-color);
  --theme-border-color: var(--theme-light-border-color);
  --theme-highlight-color: var(--theme-light-highlight-color);
  --theme-highlight-bg: var(--theme-light-highlight-bg);


  h1:not(.tmpl-exclude) {
    border: 0.25rem solid var(--theme-border-color);
    border-top: none;
    border-right: none;
    padding: 0.5em;
  }

  hr {
    border-bottom-width: 0.25rem;
  }
}