
body:has(input[value="theme--default"]:checked), // Just for the theme switcher example page
.theme--default {
  // --theme-light-color:               #{$owl-ref-palette-gray-800};
  // --theme-light-icon-color:          #{$owl-ref-palette-primary-500};
  // --theme-light-bg:                  #{$owl-ref-palette-white};
  // --theme-light-border-color:        #{$owl-ref-palette-gray-300};
  // --theme-light-accent-color:              #{$owl-ref-palette-primary-500};

  // --theme-dark-color:        #{$owl-ref-palette-white};
  // --theme-dark-icon-color:   currentColor;
  // --theme-dark-bg:           #{$owl-ref-palette-gray-900};
  // --theme-dark-border-color: #{$owl-ref-palette-gray-600};
  // --theme-dark-accent-color:       #{$owl-ref-palette-cyan-500};

  // --theme-max-width:    1200px;

  // --theme-font-family-base:            #{$owl-ref-typeface-font-family-sans-serif};
  // --theme-font-family-heading:         #{$owl-ref-typeface-font-family-sans-serif};
  // --theme-font-lineheight-base:        #{$owl-ref-typeface-lineheight-base};
  // --theme-font-lineheight-heading:     #{$owl-ref-typeface-lineheight-sm};
  // --theme-font-letterspacing-heading:  -0.025em;

  // Custom theme variables

  section[class*="--light"]{

  }

  section[class*="--alt"]{

  }

  section[class*="--dark"]{

  }


  h1:not(.tmpl-exclude) {
    border-bottom: 0.0625em solid var(--theme-border-color);
    padding-bottom: 0.5em;
  }
}
