
body:has(input[value="theme--reader"]:checked), // Just for the theme switcher example page
.theme--reader {
  --theme-font-size-sm: 0.729rem;
  --theme-font-size-base: 0.875rem;
  --theme-font-size-md: 1.05rem;
  --theme-font-size-lg: 1.26rem;
  --theme-font-size-xl: 1.512rem;
  --theme-font-size-2xl: 1.814rem;
  --theme-font-size-3xl: 2.177rem;

  --theme-light-color:               #{$owl-ref-palette-black};
  --theme-light-icon-color:          currentColor;
  --theme-light-bg:                  #{$owl-ref-palette-white};
  --theme-light-border-color:        #{$owl-ref-palette-black};
  --theme-light-accent-color:        #{$owl-ref-palette-black};
  --theme-light-highlight-color:          #{$owl-ref-palette-black};
  --theme-light-highlight-bg:             #{$owl-ref-palette-white};

  --theme-alt-color:               #{$owl-ref-palette-black};
  --theme-alt-icon-color:          currentColor;
  --theme-alt-bg:                  #{$owl-ref-palette-white};
  --theme-alt-border-color:        #{$owl-ref-palette-black};
  --theme-alt-accent-color:        #{$owl-ref-palette-black};
  --theme-alt-highlight-color:          #{$owl-ref-palette-black};
  --theme-alt-highlight-bg:             #{$owl-ref-palette-white};

  --theme-dark-color:        #{$owl-ref-palette-black};
  --theme-dark-icon-color:   currentColor;
  --theme-dark-bg:           #{$owl-ref-palette-white};
  --theme-dark-border-color: #{$owl-ref-palette-black};
  --theme-dark-accent-color: #{$owl-ref-palette-black};
  --theme-dark-highlight-color:   #{$owl-ref-palette-black};
  --theme-dark-highlight-bg:      #{$owl-ref-palette-white};

  --theme-max-width:    1200px;

  --theme-font-family-base:            Arial, sans-serif;
  --theme-font-family-heading:         Arial, sans-serif;
  --theme-font-lineheight-base:        #{$owl-ref-typeface-lineheight-base};
  --theme-font-lineheight-heading:     #{$owl-ref-typeface-lineheight-sm};
  --theme-font-letterspacing-heading:  0;

  --theme-accent-color: var(--theme-light-accent-color);
  --theme-border-color: var(--theme-light-border-color);
  --theme-highlight-color: var(--theme-light-highlight-color);
  --theme-highlight-bg: var(--theme-light-highlight-bg);

  // Apply to all Themes
  --theme-color:                var(--theme-light-color);
  --theme-bg:                   var(--theme-light-bg);
  --theme-icon-color:           var(--theme-light-icon-color);
  --theme-accent-color:         var(--theme-light-accent-color);
  --theme-border-color:         var(--theme-light-border-color);

  section[class*="--alt"]{
    --theme-color:           var(--theme-alt-color);
    --theme-bg:              var(--theme-alt-bg);
    --theme-icon-color:      var(--theme-alt-icon-color);
    --theme-accent-color:    var(--theme-alt-accent-color);
    --theme-border-color:    var(--theme-alt-border-color);
  }

  section[class*="--dark"]{
    --theme-color:           var(--theme-dark-color);
    --theme-bg:              var(--theme-dark-bg);
    --theme-icon-color:      var(--theme-dark-icon-color);
    --theme-accent-color:    var(--theme-dark-accent-color);
    --theme-border-color:    var(--theme-dark-border-color);
  }
  section[class*="--light"],
  section[class*="--alt"],
  section[class*="--dark"] {
    --theme-highlight-color: #{$owl-ref-palette-black};
    --theme-highlight-bg: #{$owl-ref-palette-gray-300};
  }

  img {
    max-width: 30ch;
  }

  @media print {
    .section {
      margin: 0;
      padding: 0;
    }
  }

  .section--min-height {
    min-height: 0;
  }

  .section--bg {
    .template__background {
      display: none;
    }
  }

  .section--inset {
    margin: 0;
  }

  .template__body{
    display: block;
    max-width: var(--theme-max-width);
  }

  .tmpl-text-media {
    .template__body__media {
      text-align: left;

      i {
        font-size: 5em;
      }
    }
  }

  .tmpl-content-aside {
    .template__body__aside {
      color: inherit;
      background: inherit;
      border: 2px solid currentColor;
    }
  }

  dt {
    color: inherit;
    background: inherit;
    border-bottom: 2px solid currentColor;
  }

  .tmpl-styled-list .template__body__content ol li:before {
    color: inherit;
    background: inherit;
    border: 2px solid currentColor;
  }
}