// Block Text Template

.block-text {
  .template__body {
    display: grid;
    grid-template-areas: "heading heading"
                         "media text";
    grid-template-columns: repeat(1fr);
    grid-auto-flow: row;
    gap: var(--template-spacer);


    h1 {
      grid-area: heading;
      border: 0.125em solid var(--template-border-color);
      border-top: none;
      border-right: none;
      padding: 0.5em;
    }

    p {
      grid-area: text;
      min-width: 40ch;
      font-size: var(--template-font-size-h5);
    }

    i {
      grid-area: media;
      font-size: 24vmin;
      font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' -25,
        'opsz' 48

    }
  }

  &--right {
    .template__body {
      grid-auto-columns: 4fr 1fr;
      grid-template-areas: "heading heading"
                           "text media";
    }
  }
}