// Section Classes
.section {
  --section-color: var(--template-light-color);
  --section-bg: var(--template-light-bg);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--template-font-family-base);
  color: var(--section-color);
  background: var(--section-bg);

  &--min-height {
    min-height: 100vh;

    &.section--inset {
      min-height: calc(100vh - var(--template-spacer) *2);
    }
  }

  &--light {
    --section-color: var(--template-light-color);
    --section-bg: var(--template-light-bg);
  }

  &--dark {
    --section-color: var(--template-dark-color);
    --section-bg: var(--template-dark-bg);
  }

  &--alt {
    --section-color: var(--template-alt-color);
    --section-bg: var(--template-alt-bg);
  }

  &--inset {
    margin: var(--template-spacer);

    &.section--alt.section--bg,
    &.section--dark.section--bg {
      padding: var(--template-spacer);
      margin: 0;

      &.section--min-height {
        min-height: 100vh;
      }

      .template__background {
        top: var(--template-spacer);
        left: var(--template-spacer);
        bottom: var(--template-spacer);
        right: var(--template-spacer);
      }
    }
  }

  &--bg {
    .template__background {
      display: block;
    }

    .template__body {
      // This targets the top level elements of the section, and the spans directly inside of them to give them a background color when section--bg is in use.
      & :is(h1,h2,h3,h4,h5,h6) span,
      figcaption {
        padding: 0 0.0625em;
        margin: 0 -0.0625em;
        display: inline;
        color: var(--section-color);
        background: var(--section-bg);
        box-shadow: -0.0625em 0 0 0.05em var(--section-bg), 0.0625em 0 0 0.05em var(--section-bg);
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
      }
    }

    .template__body__content > :is(ol, ul, p, figure, sectionquote, dl) {
      background: var(--section-bg);
      box-shadow: 0 0 0 0.6rem var(--section-bg);
    }

    .template__body__media {
      *[class^="material-symbols"] {
        background: var(--section-bg);
        border-radius: 9in;
        line-height: 1;
      }
    }
  }

  &--bg-fixed {
    .template__background {
      background-attachment: fixed;
    }
  }
}