// Section Classes
section {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: var(--template-font-family-base);
  color: var(--template-light-color);
  background: var(--template-light-bg);
}

.section {
  &--min-height {
    min-height: 100vh;

    &.section--inset {
      min-height: calc(100vh - var(--template-spacer) *2);
    }
  }

  &--invert {
    --template-light-bg: var(--template-dark-bg);
    --template-light-color: var(--template-dark-color);
    --template-light-icon-color: var(--template-dark-icon-color);
    --template-light-border-color: var(--template-dark-border-color);
    --template-light-accent-color: var(--template-dark-accent-color);
  }

  &--inset {
    margin: var(--template-spacer);

    &.section--invert.section--bg {
      padding: var(--template-spacer);
      margin: 0;

      &.section--min-height {
        min-height: 100vh;
      }

      .template__background {
        top: var(--template-spacer);
        left: var(--template-spacer);
        bottom: var(--template-spacer);
        right: var(--template-spacer);
      }
    }
  }

  &--bg {
    .template__background {
      display: block;
    }

    .template__body {
      // This targets the top level elements of the section, and the spans directly inside of them to give them a background color when section--bg is in use.
      & :is(h1,h2,h3,h4,h5,h6) {
        span {
          padding: 0 0.0625em;
          margin: 0 -0.0625em;
          display: inline;
          color: var(--template-light-color);
          background: var(--template-light-bg);
          box-shadow: -0.0625em 0 0 0.05em var(--template-light-bg), 0.0625em 0 0 0.05em var(--template-light-bg);
          box-decoration-break: clone;
          -webkit-box-decoration-break: clone;
        }
      }
    }

    .template__body__content > :is(ol, ul, p, figure, sectionquote, dl) {
      background: var(--template-light-bg);
      box-shadow: 0 0 0 0.5em var(--template-light-bg);
    }

    .template__body__media {
      *[class^="material-symbols"] {
        background: var(--template-light-bg);
        border-radius: 9in;
        line-height: 1;
      }
    }
  }

  &--bg-fixed {
    .template__background {
      background-attachment: fixed;
    }
  }
}