// Template Elements
.template {
  &__body {
    // Centering the section on the page
    max-width: var(--theme-max-width);
    height: fit-content;
    flex: 1 1 auto;
    // Aligning the children
    z-index: 1;
    padding: var(--theme-spacer);

    &__title {
    }

    &__content {
    }

    &__aside {
    }

    &__navigation {
      padding-top: var(--theme-spacer);
      padding-bottom: var(--theme-spacer);
      text-align: center;
    }

    &__media {
      figure {
        margin: 0;
        display: inline-block;

        img {
          max-width: 100%;

          @media print {
            max-width: 300px;
          }
        }

        figcaption {
          font-size: var(--theme-font-size-sm);
          line-height: var(--theme-font-lineheight-heading);
          text-align: right;
        }
      }
    }
  }

  // This is the element that houses the background color or image when section--bg is in use.
  &__background {
    display: none;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;

    &--fixed {
      background-attachment: fixed;
    }
  }
}

// Templates
@import "templates/tmpl-main-title";
@import "templates/tmpl-color-table";
@import "templates/tmpl-text-media";
@import "templates/tmpl-two-column";
@import "templates/tmpl-definition-list";
@import "templates/tmpl-styled-list";
@import "templates/tmpl-icon-list";
@import "templates/tmpl-centered-text";
@import "templates/tmpl-content-aside";
@import "templates/tmpl-icon-points";
@import "templates/tmpl-big-tiles";
@import "templates/tmpl-half-photo";