// Template Elements
.template {

  &__body {
    // Centering the section on the page
    max-width: var(--template-max-width);
    flex: 1 1 auto;
    // Aligning the children
    display: grid;
    align-items: center;
    align-content: center;
    z-index: 1;
    padding: var(--template-spacer);

    &__navigation {
      width: 100%;
      padding: var(--template-spacer) 0;
      text-align: center;
    }

    &__media {
      figure {
        margin: 0;
        display: inline-block;

        img {
          max-width: 100%;

          @media print {
            max-width: 300px;
          }
        }

        figcaption {
          font-size: var(--template-font-size-sm);
          line-height: var(--template-font-lineheight-heading);
          text-align: right;
        }
      }
    }
  }

  // This is the element that houses the background color or image when section--bg is in use.
  &__background {
    display: none;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;

    &--fixed {
      background-attachment: fixed;
    }
  }
}