// https://www.fluid-type-scale.com/calculate?minFontSize=14&minWidth=400&minRatio=1.25&maxFontSize=18&maxWidth=1280&maxRatio=1.333&steps=sm%2Cbase%2Ch5%2Ch4%2Ch3%2Ch2%2Ch1&baseStep=base&prefix=template-font-size&decimals=3&includeFallbacks=on&useRems=on&remValue=16&previewFont=Inter
/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vmin, 1rem)) {
  :root {
    --template-spacer: clamp(1rem, 5vw, 5rem);
    --template-spacer-sm: clamp(1rem, 2.5vw, 5rem);
    --template-icon-size: clamp(5em, 24vmin, 15em);
    --template-icon-size-sm: clamp(2em, 14vmin, 10em);

    --template-font-size-sm: clamp(0.729rem, 0.209vmin + 0.677rem, 0.844rem);
    --template-font-size-base: clamp(0.875rem, 0.455vmin + 0.761rem, 1.125rem);
    --template-font-size-md: clamp(1.05rem, 0.817vmin + 0.846rem, 1.5rem);
    --template-font-size-lg: clamp(1.26rem, 1.344vmin + 0.924rem, 1.999rem);
    --template-font-size-xl: clamp(1.512rem, 2.096vmin + 0.988rem, 2.665rem);
    --template-font-size-2xl: clamp(1.814rem, 3.159vmin + 1.025rem, 3.552rem);
    --template-font-size-3xl: clamp(2.177rem, 4.65vmin + 1.015rem, 4.735rem);
  }
}
/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vmin, 1rem)) {
  :root {
    --template-spacer: 5vmin;
    --template-spacer-sm: 2.5vmin;
    --template-icon-size: 24vmin;
    --template-icon-size-sm: 14vmin;

    --template-font-size-sm: 0.729rem;
    --template-font-size-base: 0.875rem;
    --template-font-size-md: 1.05rem;
    --template-font-size-lg: 1.26rem;
    --template-font-size-xl: 1.512rem;
    --template-font-size-2xl: 1.814rem;
    --template-font-size-3xl: 2.177rem;
  }

  @media screen and (min-width: 1280px) {
    :root {
      --template-font-size-sm: 0.844rem;
      --template-font-size-base: 1.125rem;
      --template-font-size-md: 1.5rem;
      --template-font-size-lg: 1.999rem;
      --template-font-size-xl: 2.665rem;
      --template-font-size-2xl: 3.552rem;
      --template-font-size-3xl: 4.735rem;
    }
  }
}

:root {
  --template-max-width:    1200px;
  --template-max-width-sm: 90ch;
  // --template-grid-columns: 12;
  // --template-grid-gap:     var(--template-spacer-sm);
  // --template-grid-rows:    1;

  --template-light-color:        #{$owl-ref-palette-gray-800};
  --template-light-icon-color:   #{$owl-ref-palette-gray-800};
  --template-light-bg:           #{$owl-ref-palette-white};
  --template-light-border-color: #{$owl-ref-palette-gray-300};
  --template-light-accent-color: #{$owl-ref-palette-primary-500};
  --template-light-mark-color:   var(--template-light-color);
  --template-light-mark-bg:      #{$owl-ref-palette-primary-200};

  --template-alt-color:        #{$owl-ref-palette-white};
  --template-alt-icon-color:   #{$owl-ref-palette-white};
  --template-alt-bg:           #{$owl-ref-palette-primary-500};
  --template-alt-border-color: #{$owl-ref-palette-primary-600};
  --template-alt-accent-color: #{$owl-ref-palette-gray-900};
  --template-alt-mark-color:   var(--template-alt-color);
  --template-alt-mark-bg:      #{$owl-ref-palette-gray-900};

  --template-dark-color:        #{$owl-ref-palette-white};
  --template-dark-icon-color:   #{$owl-ref-palette-white};
  --template-dark-bg:           #{$owl-ref-palette-gray-900};
  --template-dark-border-color: #{$owl-ref-palette-gray-700};
  --template-dark-accent-color: #{$owl-ref-palette-cyan-500};
  --template-dark-mark-color:   var(--template-dark-color);
  --template-dark-mark-bg:      #{$owl-ref-palette-cyan-700};

  --template-font-family-base:            #{$owl-ref-typeface-font-family-sans-serif};
  --template-font-family-heading:         #{$owl-ref-typeface-font-family-sans-serif};
  --template-font-lineheight-base:        #{$owl-ref-typeface-lineheight-base};
  --template-font-lineheight-heading:     #{$owl-ref-typeface-lineheight-sm};
  --template-font-letterspacing-heading:  -0.025em;

  --template-accent-color:         var(--template-light-accent-color);
  --template-border-color:         var(--template-light-border-color);
  --template-mark-color:           var(--template-light-mark-color);
  --template-mark-bg:              var(--template-light-mark-bg);
  --template-border-radius:        0.25em;
  --template-border-radius-sm:     3px;
  --template-border-radius-lg:     1em;
  --template-border-radius-pill:   50em;
  --template-img-border-radius:    1em;

  --template-btn-letterspacing:    0.0125em;
  --template-btn-font-weight:      600;
  --template-btn-padding:          0.375em 1.125em;
  --template-btn-padding-sm:       0.25em 0.75em;
  --template-btn-padding-lg:       0.5em 1em;
  --template-btn-border-radius:    0.25em;
  --template-btn-border-radius-sm: 0.25em;
  --template-btn-border-radius-lg: 0.25em;

  section[class*="--alt"]{
    --template-accent-color: var(--template-alt-accent-color);
    --template-border-color: var(--template-alt-border-color);
    --template-mark-color: var(--template-alt-mark-color);
    --template-mark-bg: var(--template-alt-mark-bg);
  }

  section[class*="--dark"]{
    --template-accent-color: var(--template-dark-accent-color);
    --template-border-color: var(--template-dark-border-color);
    --template-mark-color: var(--template-dark-mark-color);
    --template-mark-bg: var(--template-dark-mark-bg);
  }
}

@import "themes/theme-default";
@import "themes/theme-news";
@import "themes/theme-fiesta";
@import "themes/theme-draplin";
@import "themes/theme-reader";