.switcher {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  background: $owl-ref-palette-gray-700;

  label {
    margin: 0 0.5em;
    cursor: pointer;
  }
}

.switcher:has(input[value="theme--default"]:checked) ~ section, // Just for the theme switcher example page
:root,
.theme--default {
  --template-color:        #{$owl-ref-palette-gray-800};
  --template-bg:           #{$owl-ref-palette-white};
  --template-border-color: #{$owl-ref-palette-gray-300};
  --template-max-width:    1200px;

  --template-font-family-base:            #{$owl-ref-typeface-font-family-sans-serif};
  --template-font-family-heading:         #{$owl-ref-typeface-font-family-sans-serif};
  --template-font-letterspacing-heading:  -0.025em;
}

.switcher:has(input[value="theme--news"]:checked) ~ section,// Just for the theme switcher example page
.theme--news{
  --template-color:        #{$owl-ref-palette-black};
  --template-bg:           #fefaf0;
  --template-border-color: #{$owl-ref-palette-black};
  --template-max-width:    1024px;

  --template-font-family-base:            Georgia, serif;
  --template-font-family-heading:         Georgia, serif;
  --template-font-letterspacing-heading:  -0.025em;
}

.switcher:has(input[value="theme--dark"]:checked) ~ section,// Just for the theme switcher example page
.theme--dark {
  --template-color:        #{$owl-ref-palette-white};
  --template-bg:           #{$owl-ref-palette-gray-900};
  --template-border-color: #{$owl-ref-palette-gray-600};
  --template-max-width:    1200px;

  --template-font-family-base:            #{$owl-ref-typeface-font-family-sans-serif};
  --template-font-family-heading:         #{$owl-ref-typeface-font-family-sans-serif};
  --template-font-letterspacing-heading:  -0.025em;
}

.switcher:has(input[value="theme--fiesta"]:checked) ~ section,// Just for the theme switcher example page
.theme--fiesta {
  --template-color:        #{$owl-ref-palette-purple-800};
  --template-bg:           #{$owl-ref-palette-pink-100};
  --template-border-color: #{$owl-ref-palette-pink-500};
  --template-max-width:    1440px;

  --template-font-family-base:            "Tahoma", serif;
  --template-font-family-heading:         "Comic Sans MS", "Comic Sans", cursive;
  --template-font-letterspacing-heading:  0.025em;
}