// Default Font Styles and variables.


main{
  font-size: var(--theme-font-size-base);
  font-family: var(--theme-font-family-base);
  line-height: var(--theme-font-lineheight-base);

  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: manual;
}

h1,
h2,
h3,
h4,
h5,
small {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  margin: 0 0 0.5em 0;
  line-height: var(--theme-font-lineheight-heading);
  font-family: var(--theme-font-family-heading);
  font-weight: var(--theme-font-weight-heading);
  letter-spacing: var(--theme-font-letterspacing-heading);
}

.h1 {
  font-size: var(--theme-font-size-3xl);
}

.h2 {
  font-size: var(--theme-font-size-2xl);
}

.h3 {
  font-size: var(--theme-font-size-xl);
}

.h4 {
  font-size: var(--theme-font-size-lg);
}

.h5 {
  font-size: var(--theme-font-size-md);
}

.small {
  font-size: var(--theme-font-size-sm);
}

.lead {
  font-size: var(--theme-font-size-lg);
}

// Accessibility setting that text sections aren't wider than 80 characters.
h1,
h2,
h3,
h4,
h5,
h6,
p,
dt,
dd {
  max-width: 80ch;
}

ol,
ul {
  padding-left: 1em;

  &.h4 {
    padding-left: 1.5em;
  }
}

li {
  line-height: 1.4;
  margin-bottom: 0.5em;

  & > ol,
  & > ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

dl {
  margin: 0 0 1em 0;
}

dt {
  font-size: var(--theme-font-size-md);
  font-weight: 600;
  border-bottom: 1px solid var(--theme-border-color);
  break-after: avoid;
}

dd {
  margin: 0.25em 0 1em 0;
  break-inside: avoid;
}

mark {
  color: var(--theme-highlight-color);
  background-color: var(--theme-highlight-bg);
}

a {
  color: var(--theme-accent-color);
}
