// Default Font Styles and variables.


main{
  font-size: var(--template-font-size-base);
  font-family: var(--template-font-family-base);
  line-height: var(--template-font-lineheight-base);

  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: manual;
}

h1,
h2,
h3,
h4,
h5,
small {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  margin: 0 0 0.5em 0;
  line-height: var(--template-font-lineheight-heading);
  font-family: var(--template-font-family-heading);
  font-weight: 700;
  letter-spacing: var(--template-font-letterspacing-heading);
}

.h1 {
  font-size: var(--template-font-size-3xl);
}

.h2 {
  font-size: var(--template-font-size-2xl);
}

.h3 {
  font-size: var(--template-font-size-xl);
}

.h4 {
  font-size: var(--template-font-size-lg);
}

.h5 {
  font-size: var(--template-font-size-md);
}

.small {
  font-size: var(--template-font-size-sm);
}

.lead {
  font-size: var(--template-font-size-lg);
}

// Accessibility setting that text sections aren't wider than 80 characters.
h1,
h2,
h3,
h4,
h5,
h6,
p,
dt,
dd {
  max-width: 80ch;
}

ol,
ul {
  padding-left: 1em;
}

li {
  line-height: 1.4;
  margin-bottom: 0.5em;
}

dl {
  margin: 0 0 1em 0;
}

dt {
  font-size: var(--template-font-size-md);
  font-weight: 600;
  border-bottom: 1px solid var(--template-border-color);
  break-after: avoid;
}

dd {
  margin: 0.25em 0 1em 0;
  break-inside: avoid;
}

a {
  color: var(--template-accent);
}

// Temporary bootstrap style button
.btn {
  display: inline-block;
  padding: 0.375em 1.125em;
  font-weight: 600;
  letter-spacing: 0.0125em;
  color: $owl-ref-palette-white;
  font-size: var(--template-font-family-base);
  line-height: 1.5;
  text-decoration: none;
  border: 2px solid $owl-ref-palette-green-500;
  background: $owl-ref-palette-green-500;
  border-radius: 3px;

  &:hover,
  &:focus {
    border-color: $owl-ref-palette-green-700;
    background: $owl-ref-palette-green-600;

    i {
      margin-left: 0.25em;
      margin-right: -0.25em;
    }
  }

  i {
    line-height: 0.75;
    font-size: 1.5em;
    color: currentColor;
    vertical-align: bottom;
    font-variation-settings:
      'FILL' 0,
      'wght' 700,
      'GRAD' 100,
      'opsz' 20;
    transition: margin 0.2s ease-in-out;
  }
}