// Scrowl Player
@import "normalize";
@import "tokens";
@import "icons";
@import "typography";
@import "themes";
@import "section";
@import "template";

// Templates
@import "block-text";
@import "two-column";
@import "definition-list";
@import "numbered-list";
@import "centered-text";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-size: 16px;
}

body {
  margin: 0;
  background: var(--template-bg);
}

// When browser size is this small, extra zoom out.
@media screen and (max-width: 300px) {
  body {
    zoom: 0.75;
  }
}

main {
  background: var(--template-bg);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

hr {
  margin: 1em 0;
  border: 1px solid var(--template-border-color);
}

@media print {
  @page {
    size: landscape
  }

  * {
    color: black !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  .section {
    page-break-inside: avoid;
    page-break-after: always;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100vh;
  }

  .switcher {
    display: none;
  }
}