// Scrowl Player
@import "normalize";

@import "tokens";
@import "themes";
@import "grid";

@import "icons";
@import "typography";
@import "buttons";
@import "section";
@import "template";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

// When browser size is this small, extra zoom out.
@media screen and (max-width: 300px) {
  body {
    zoom: 0.75;
  }

  main {
    font-size: 10px !important;
  }
}

main {
  font-size: 16px;
  background: var(--theme-light-bg);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

img {
  max-width: 100%;
  border-radius: var(--theme-img-border-radius);
}

hr {
  margin: 1em 0;
  border: 0;
  border-bottom: 2px solid var(--theme-border-color);
}

.switcher {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding: 0 0.25em 0.5em 0;
  font-family: $owl-ref-typeface-font-family-sans-serif;
  color: white;
  border: 0;
  background: $owl-ref-palette-black;

  legend {
    padding: 0 0.5em;
    background-color: $owl-ref-palette-black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  label {
    margin: 0 0.5em;
    cursor: pointer;

    input {
      margin-right: 0.5em;
    }

    @media screen and (max-width: 500px) {
      display: block;
    }
  }
}


@media print {
  @page {
    size: landscape
  }

  * {
    --theme-light-accent-color: white;
    --theme-light-icon-color: black;
    --theme-light-color: black;
    --theme-light-border-color: black;

    color: black !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  .template__body__aside,
  .tmpl-styled-list ol li:before {
    border: 2px solid black;
  }

  .section {
    page-break-inside: avoid;
    page-break-after: always;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100vh;
  }

  .template__body__navigation {
    display: none;
  }

  .switcher {
    display: none;
  }
}