// Scrowl Player
@import "normalize";
@import "tokens";
@import "icons";
@import "typography";
@import "themes";
@import "template";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-size: 16px;
}

body {
  margin: 0;
  background: var(--template-bg);
}

// When browser size is this small, extra zoom out.
@media screen and (max-width: 300px) {
  body {
    zoom: 0.75;
  }
}

[role="main"] {
  background: var(--template-bg);
}

hr {
  margin: 1em 0;
  border: 1px solid var(--template-border-color);
}

@media print {
  * {
    color: black !important;
    background: transparent !important;
  }

  .switcher {
    display: none;
  }
}