// Big Tiles Template

.big-tiles {
  .template__body {
    max-width: 1440px;
    align-items: flex-start;

    &__title {
      text-align: center;
    }

    &__content {
      .h2 {
        margin-bottom: 0.25em;
      }

      .h5 {
        margin-bottom: 0.25em;
        color: var(--template-accent-color);
      }

      figure {
        margin: 0;
        padding: 0;

        figcaption {
          margin-bottom: 1em;
          font-size: var(--template-font-size-sm);
        }

        p,
        ul,
        ol {
          margin-top: 0.25em;
        }
      }
    }
  }
}