// Block Text Template

.block-text {
  .template__body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: var(--template-spacer-sm);

    h1 {
      flex: 1 0 100%;
    }

    &__content {
      flex: 1 1 65%;
      min-width: 18rem;
      font-size: var(--template-font-size-md);
    }

    &__media {
      flex: 1 1 25%;
      text-align: center;

      i {
        font-size: var(--template-icon-size);
        font-variation-settings:
          'FILL' 0,
          'wght' 100,
          'GRAD' -25,
          'opsz' 48;
      }
    }
  }

  &--right {
    .template__body {
      flex-direction: row;
    }
  }
}