// Side Figure Template

.content-aside {
  // Custom vars just for this template
  --aside-bg: var(--template-light-accent-color);
  --aside-color: var(--template-dark-color);

  &.section--alt {
    --aside-bg: var(--template-dark-bg);
    --aside-color: var(--template-alt-accent-color);
  }

  &.section--dark {
    --aside-bg: var(--template-dark-accent-color);
    --aside-color: var(--template-light-color);
  }

  .template__body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--template-spacer-sm);

    h1 {
      flex: 1 0 100%;
    }

    &__content {
      flex: 1 1 50%;
      font-size: var(--template-font-size-md);
    }

    &__aside {
      flex: 1 1 40%;
      min-width: 18rem;
      margin: 0;
      padding: var(--template-spacer-sm);
      color: var(--aside-color);
      background: var(--aside-bg);
      font-size: var(--template-font-size-md);

      figcaption {
        line-height: var(--template-font-lineheight-heading);
        font-weight: 700;
      }
    }
  }
}