// Side Figure Template

.content-aside {
  &--right {
    .template__body__aside {

    }
  }

  // Custom vars just for this template
  --aside-bg: var(--template-accent-color);
  --aside-color: var(--template-dark-color);

  &.section--alt {
    --aside-color: var(--template-alt-color);
  }

  &.section--dark {
    --aside-color: var(--template-dark-color);
  }

  .template__body {
    align-items: flex-start;

    h1 {
      grid-column: $grid-full-width;
    }

    &__content {
      font-size: var(--template-font-size-base);
    }

    &__aside {
      margin: 0;
      padding: var(--template-spacer-sm);
      color: var(--aside-color);
      background: var(--aside-bg);
      font-size: var(--template-font-size-md);

      figcaption {
        line-height: var(--template-font-lineheight-heading);
        font-weight: 700;
      }
    }
  }
}