// Definition List Template

.definition-list {
  // Custom vars just for this template
  --dt-bg: var(--template-accent-color);
  --dt-color: var(--template-dark-color);
  --list-columns: 2;
  --list-columns-width: 30ch;

  &.section--alt {
    --dt-color: var(--template-alt-color);
  }

  &.section--dark {
    --dt-color: var(--template-light-color);
  }

  .template__body {
    h1 {
      grid-column: $grid-full-width;
    }

    &__content {
      dl {
        column-fill: balance;
        column-count: var(--list-columns);
        column-width: var(--list-columns-width);
        column-gap: var(--template-grid-gap);
      }

      dt {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        color: var(--dt-color);
        border: none;
        background: var(--dt-bg);
      }

      dd {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        break-inside: avoid-column;
      }
    }
  }
}