// Definition List Template

.definition-list {
  .template__body {
    display: flex;
    flex-wrap: wrap;
    gap: var(--template-spacer-sm);

    h1 {
      flex: 1 0 100%;
    }

    &__content {
      dl {
        column-fill: balance;
        column-count: 2;
        column-width: 40ch;
        column-gap: var(--template-spacer);
      }

      dt {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        color: var(--template-bg);
        border: none;
        background: var(--template-accent);
      }

      dd {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }
}