// Definition List Template

.definition-list {
  // Custom vars just for this template
  --dt-bg: var(--template-light-accent-color);
  --dt-color: var(--template-dark-color);

  &.section--alt {
    --dt-bg: var(--template-dark-bg);
    --dt-color: var(--template-alt-accent-color);
  }

  &.section--dark {
    --dt-bg: var(--template-dark-accent-color);
    --dt-color: var(--template-light-color);
  }

  .template__body {
    display: flex;
    flex-wrap: wrap;
    gap: var(--template-spacer-sm);

    h1 {
      flex: 1 0 100%;
    }

    &__content {
      dl {
        column-fill: balance;
        column-count: 2;
        column-width: 40ch;
        column-gap: var(--template-spacer);
      }

      dt {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        color: var(--dt-color);
        border: none;
        background: var(--dt-bg);
      }

      dd {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }
}