// Icon Points Template

.icon-points {
  .template__body {
    display: flex;
    flex-wrap: wrap;

    h1 {
      flex: 1 0 100%;
    }

    &__content {
      width: 100%;
      font-size: var(--template-font-size-md);

      ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
        gap: 1rem;

        &:has(li:nth-child(4)){
          grid-template-columns: 1fr 1fr 1fr 1fr;

          @media screen and (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
          }
        }

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 0.5em;
          max-width: 20ch;
          justify-self: center;
          text-align: center;
          font-size: var(--template-font-size-base);
          font-weight: 600;
        }
      }
    }
  }

  &__icon {
    text-align: center;

    i {
      color: var(--template-light-accent-color);
      font-size: var(--template-icon-size-sm);
      font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' -25,
        'opsz' 48;
    }
  }
}