// Definition List Template

.tmpl-definition-list {
  // Custom vars just for this template
  --dt-bg: var(--theme-accent-color);
  --dt-color: var(--theme-dark-color);
  --list-columns: 2;
  --list-columns-width: 30ch;

  &.section--alt {
    --dt-color: var(--theme-alt-color);
  }

  &.section--dark {
    --dt-color: var(--theme-light-color);
  }

  .template__body {
    &__content {
      dl {
        column-fill: balance;
        column-count: var(--list-columns);
        column-width: var(--list-columns-width);
        column-gap: var(--theme-grid-gap);
      }

      dt {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        color: var(--dt-color);
        border: none;
        background: var(--dt-bg);
      }

      dd {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        break-inside: avoid-column;
      }
    }
  }
}