// Styled List Template

.tmpl-styled-list {
  // Custom vars just for this template
  --list-columns: 1;
  --list-columns-width: auto;
  --number-counter-bg: var(--theme-accent-color);
  --list-style-bg: var(--theme-accent-color);
  --number-counter-color: var(--theme-dark-color);
  --list-max-width: var(--theme-max-width-sm);

  &.section--alt {
    --number-counter-color: var(--theme-alt-color);
  }

  &.section--dark {
    --number-counter-color: var(--theme-light-color);
  }

  .template__body {
    max-width: var(--list-max-width);

    &__content {
      font-size: var(--theme-font-size-md);

      ol,
      ul {
        column-fill: balance;
        column-count: var(--list-columns);
        column-width: var(--list-columns-width);
        column-gap: var(--theme-grid-gap);

        li:last-child{
          margin-bottom: 0;
        }
      }

      ol {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          align-items: baseline;
          margin-bottom: 1.5em;
          counter-increment: tmpl-styled-list-counter;
          break-inside: avoid-column;

          &:before {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 2em;
            margin-right: 1rem;
            line-height: 1;
            font-weight: 600;
            text-indent: 0;
            font-variant-numeric: tabular-nums;
            color: var(--number-counter-color);
            border-radius: var(--theme-border-radius-pill);
            background: var(--number-counter-bg);
            content: counter(tmpl-styled-list-counter);
          }
        }
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          margin-bottom: 1.5em;

          &:before {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 0.75em;
            height: 0.75em;
            margin-top: 0.33em;
            margin-right: 1rem;
            line-height: 1;
            border-radius: var(--theme-border-radius-pill);
            background: var(--list-style-bg);
            content: '';
          }
        }
      }
    }
  }
}