// Color Table Template

.tmpl-color-table {
  .template__body {
    // display: flex;
    // flex-wrap: wrap;
    // align-items: flex-start;
    // gap: var(--theme-spacer-sm);
    font-size: var(--theme-font-size-sm);

    h1 {
      // flex: 1 0 100%;
    }

    &__content {
      // flex: 1 1 100%;

      table {
        width: 100%;
        text-align: left;

        td {
          padding: 0.5em;
          code {
            font-size: var(--theme-font-size-sm);
          }
        }
      }
    }
  }
}