// Side Figure Template

.tmpl-content-aside {
  &--right {
    .template__body__aside {

    }
  }

  // Custom vars just for this template
  --aside-bg: var(--theme-accent-color);
  --aside-color: var(--theme-dark-color);

  &.section--alt {
    --aside-color: var(--theme-alt-color);
  }

  &.section--dark {
    --aside-color: var(--theme-dark-color);
  }

  .template__body {
    align-items: flex-start;

    &__content {
      font-size: var(--theme-font-size-base);
    }

    &__aside {
      margin: 0;
      align-self: flex-start;
      padding: var(--theme-spacer-sm);
      color: var(--aside-color);
      background: var(--aside-bg);
      font-size: var(--theme-font-size-md);
      border-radius: var(--theme-border-radius);

      figcaption {
        line-height: var(--theme-font-lineheight-heading);
        font-weight: 700;
      }
    }
  }
}