// Two Column Template

.tmpl-two-column {
  .template__body {
    // display: flex;
    // flex-wrap: wrap;
    // gap: var(--theme-spacer-sm);

    h1 {
      flex: 1 0 100%;
    }

    &__content {
      column-fill: balance;
      column-count: 2;
      column-width: 40ch;
      column-gap: var(--theme-spacer);
    }
  }
}