// Text Media Template

.tmpl-text-media {
  .template__body {
    & > .row {

      flex-direction: row-reverse;
      align-items: center;

      @media screen and (min-width:576px) {
        --grid-gutter-x: 3rem;
      }
    }

    &__content {
      font-size: var(--template-font-size-md);
      text-align: left;
    }

    &__media {
      text-align: center;

      i {
        font-size: var(--template-icon-size);
        font-variation-settings:
          'FILL' 0,
          'wght' 100,
          'GRAD' -25,
          'opsz' 48;
      }
    }
  }

  &--right {
    .template__body {
      & > .row {
        flex-direction: row;
      }
    }
  }
}