// Half Photo Template

.tmpl-half-photo {
  .template__background {
    left: 0;
    right: 36%;

    @media screen and (min-width: 576px) {
      right: calc(50% + 2rem);
    }
  }

  .template__body__content {
    margin-bottom: 2rem;
  }
}